<% layout('../layouts/mainlayout.ejs') -%>
<form action="/Movies/DeleteReview" method="POST">
    <input type='hidden' name="_id" value= <%= movies._id %> />
    <input type='hidden' name="movieName" value= <%= movies.movieName %> />
    <input type='hidden' name="user" value= <%= movies.movieArray.user %> />
    <input type='hidden' name="review" value= <%= movies.movieArray.review %> />
    <input type='hidden' name="rating" value= <%= movies.movieArray.rating %> />
    <input type='hidden' name="date" value= <%= movies.movieArray.date %> />
    <h5 style="padding-top: 80px"><b>Are you sure you want to delete your "<%= movies.movieName%>" movie review?</b></h5>
    <input type="submit" value="Submit">
</form>
