<% layout('../layouts/mainlayout.ejs') -%>
<br/><br/>
<table>
    
<% for(var i=0; i < movies.length; i++) {
    let rating_total = 0
    let avg = 0.0
    let reviewed = true%>
    <tr>
        <td><h3><b><%= movies[i].movieName %></b></h3></td>
    </tr>
        <% for(let j=0; j < movies[i].movieArray.length; j++) {%>
        <% rating_total += parseFloat(movies[i].movieArray[j].rating)
            if(reqInfo.username == movies[i].movieArray[j].user) {
            reviewed = false}
        }%>
        <% if(rating_total != 0) {
            avg = rating_total / movies[i].movieArray.length}%>
    <tr>
        <td style="text-align: right; padding-right: 35px"><b>Stars: <%= avg.toFixed(1) %></b></td>
        <td style="padding-right: 35px"><a href='/Movies/Reviews?_id=<%= movies[i]._id %>'><b>Reviews</b></a><b>:<%= movies[i].movieArray.length%></b></td>
        <%if (reqInfo.authenticated && reviewed) { %>
            <td><a href='/Movies/Edit?_id=<%= movies[i]._id %>'><b>Write a Review</b></a></td>
        <% } else { %>
            <td><a href='/Movies/LoginNotice'><b>Write a Review</b></a></td>
        <% } %>

        </b>
    </tr>
 <% } %>
</table>
