<% layout('../layouts/mainlayout.ejs') %>
<br><b>MY REVIEWS</b>

<% for(let i=0; i < movies.length; i++) {%>
      <%  for(let j=0; j < movies[i].movieArray.length; j++) { %>
       <%     if(reqInfo.username == movies[i].movieArray[j].user) { %>
           <table>
               <tr>
                   <h5><b><%= movies[i].movieName%></b></h5>
                   <td style="padding-left: 150px"><b>Stars:<%= parseFloat(movies[i].movieArray[j].rating).toFixed(1)%></b></td>
                   <td style="padding-left: 80px"><a href='/Movies/EditReview?_id=<%= movies[i]._id %>'><u><b>Edit</b></u></a>
                       <b>| </b><a href='/Movies/Delete?_id=<%= movies[i]._id %>'><u><b>Delete</b></u></a></td>
               </tr>
               <tr>
                   <td style="padding-left: 150px"><b><%= movies[i].movieArray[j].date%></b></td>
                   <td style="padding-left: 80px"><b><%= movies[i].movieArray[j].review%></b></td>
               </tr>
           </table>
           <%}%>
        <%}%>


<%}%>

