<% layout('../layouts/mainlayout.ejs') -%>

<table style="margin-top: 40px">
    <tr>
        <td style="padding-right: 50px"><b>Rating Out of 5</b></td>
        <td style="padding-right: 50px"><h4><b><%= movies[movieID - 1].movieName %></b></h4></td>
        <%if (reqInfo.authenticated && reviewed) { %>
            <td><a href='/Movies/Edit?_id=<%= movies[movieID - 1]._id %>'><u><b>Write a Review</b></u></a></td>
    <% } else { %>
            <td><a href='/Movies/LoginNotice'><u><b>Write a Review</b></u></a></td>
        <% } %>
        <% for(let i=0; i < movies[movieID - 1].movieArray.length; i++) {%>
        <tr>
            <td style="padding-top: 30px"><b><%= movies[movieID - 1].movieArray[i].rating%></b></td>
            <td style="padding-top: 30px"><b><%= movies[movieID - 1].movieArray[i].review%></b></td>
            <td style="padding-top: 30px"><b><%= movies[movieID - 1].movieArray[i].user%></b></td>
        </tr>
        <td></td>
        <td></td>
        <td><b><%= movies[movieID - 1].movieArray[i].date%></b></td></div>
        <% }%>
    </tr>
</table>
