<% layout('../layouts/mainlayout.ejs') -%>

<div style="padding-left: 30px;">
    <!-- <% for(var i=0; i < notes.length; i++) { %>
        <ul>
            <li><%= authors[i].id %></a>
                <%= authors[i].authors %>
                <%= authors[i].lastName %>
                <a href='/Home/Delete?id=<%= authors[i].id %>'>Delete</a> |
                <a href='/Home/Update?id=<%= authors[i].id %>'>Update</a>
            </li>
        </ul>
    <% } %> -->
</div>